[Cards]
#Initial amount of cards to deal to the players
hand_size = 7

[Rules]
#If True, rules with no trigger are executed each time a player ends his turn. (This allows rules to be implemented as checks and balances)
allow_no_trigger = True

[Punishment]
#Default cards given when a player is punished, can be overridden by the rule
penalty_num = 1
#Time it takes for a player to play a card before being punished
timer = 7
default_phrases = for looking at me funny; for being {name}; for having a {random_card}; due to <Stack Overflow>; for doubting the great leader

[Players]
#Set this to any non-positive integer to set no limit
max_players = 8

[Misc.]
#Leave blank for localhost
ip =
port = 9001
